# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9286282317fa2246c549ab28d396dc7f9bc3d9c6d870b376b3cfb7d5c9c1c4f0fd496591b93cc5ecdb9feec83d11e93eba1838d5b3d50b32e29421c38a5796e9

test:
  secret_key_base: 717e19042cd1a81d7aefad10bd988ad9b87c1562ef8ed11a9142bf545e3013ab41f6ab552223d6ea04f134aa4ecc911183908e1569a94fc4aeb4ed0a115b6cf8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
